<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" href="/static/jino/img/favicon.png">
    <style>
        h2, label, input {
            margin: 10px;
        }

        button {
            width: 200px;
        }

        div {
            margin: 200px 600px 200px 600px;
        }
    </style>
</head>
<body>

<div>
    <h2>Авторизируйтесь </h2>
    <form class="sendFormBlock" action="/auth/login" method="post">
        {% csrf_token %}
        <label>
            Логин
            <br>
            <input type="text" placeholder="Введите логин" name="username" id="username"/>
            <br>
        </label>
        <label>
            Пароль
            <br>
            <input type="password" placeholder="Введите пароль" name="password" id="password"/>
            {% if login_error %}
                <label> {{ login_error }}</label>
            {% endif %}
            <br>
        </label>
        <button type="submit">Войти</button>
    </form>
</div>
</body>
</html>




