* {
  margin: 0;
  border: 0;
  padding: 0;
}

h1, h2, h3 { margin: 100px 0 70px; }
nav .row { height: 100px; }
nav {
  height: 100px;
  background: #52C5FF;
 }
nav .container { position: relative; }
.fixedPosition {
  position: fixed;
  right: 0;
}
footer {
  background: #002c85 !important;
}

.nLogo {
  margin-bottom: -3px;
  height: 70px;
}
.chooseCity, .searchBtn {
  background-color: #002c85;
}
.chooseCity, nav .brand-logo {
  position: absolute;
  bottom: 0;
}
.dNav {
  position: absolute;
  right: 0;
  bottom: 0;
}

.searchBlock {
  margin: 100px 0;
}

.searchTriggers {
  margin: 100px;
}
.searchTriggersItem {
  margin-bottom: 30px;
}
.searchTriggersItem img {
  margin-bottom: 15px;
  width: 60px;
}

.faqBlock {
  padding: 100px 0;
  margin-bottom: 100px;
}
.hCallback {
  margin-bottom: 10px;
}
.anQuestions {
  margin-bottom: 100px;
}
.page-footer {
  padding-top: 50px;
}

.mainScreen {
  background: url(img/pic_4.jpg)
}
.mainScreenDesc {
  padding-bottom: 200px;
}

.aTriggers {
  padding: 70px 0 100px;
}

.advBlock {
  margin-bottom: -20px;
  padding: 70px 0 100px;
}

.geoBlock {
  padding: 1px 0 50px;
  background: url(img/empty.jpg)
}

.companyHeader {
  margin-top: 100px;
}

.services {
  margin-top: 20px;
  padding: 15px 0 15px 15px;
}

.companyName {
  margin: 0;
}

.companyHeaders {
  margin: 0 0 10px 0;
}
.cServItem {
  margin-left: 15px;
}
.cServItemH {
  font-size: 1.3rem;
}

.description {
  margin-top: 30px;
  padding-bottom: 20px;
}
.description ul {
  margin-left: 40px;
  margin-bottom: 20px;
}
.description ul li {
  list-style: disc;
}

.facilities {
  margin-top: 30px;
  padding: 15px 0 15px 15px;
}
.facilities ul {
  margin-top: 10px;
}
.facilities li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.faces {
  margin-top: 30px;
}
.fItemList {
  margin-top: 50px;
}
.fItem img {
  width: 110px;
}
.fItem h4 {
  font-size: 1.3rem;
}

.apointments {
  margin-top: 30px;
  padding: 15px 0 15px 15px;
}
.mounthCount {
  margin-top: 30px;
  border: 1px solid gray;
  cursor: pointer;
}
.mounthCount th, .mounthCount td {
  padding: 5px;
}
.mounthCount td:hover {
  background: #80d8ff;
}

.reviews {
  margin-top: 30px;
}
.reviewsMarkList li {
  margin-top: 10px;
  margin-bottom: 10px;
}
.reviewsMarkList li span {
  margin-left: 30px;
}

.reviewItem {
  margin-bottom: 40px;
}
.reviewItemName {
  font-size: 1.4rem
}
.reviewText {
  margin-left: 50px;
}


.test {
  margin-top: 235px;
}
.tCallback {
  margin-bottom: 20px;
}
.test input {
  margin-bottom: 10px;
}
.test a {
  margin: 20px 0;
}
#map_contacts {
  /* width:450px; */
  height:450px;
}
.stars {
  width: 15px;
}
.smallll {
  font-size: 15px;
}
