{% load static %}

<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#
          profile: http://ogp.me/ns/profile#">
<head>
    {#    Open grapg begin#}
    <meta property="og:title" content="Jino"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://jino24.ru"/>
    <meta property="og:site_name" content="Jino"/>
    <meta property="og:image" content="https://jino24.ru/static/jino/img/logo-white-bg.png"/>
    <meta property="og:locale" content="ru_RU"/>
    <meta property="og:description"
          content="Платформа, соединяющая стоматологов и пациентов. Воспользуйтесь Jino для того, чтобы выбрать клинику и врача и записаться на прием в удобное для вас время"/>

    {#    Open grapg end#}
    {#    Client settings#}
    {#    END#}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93952064-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-93952064-3');
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93952064-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-93952064-2');
    </script>

    <meta name="yandex-verification" content="ab484731ce9a2f0a"/>
    {#    Alex Panichev yandex#}
    <meta name="yandex-verification" content="8ddcc606db60ccb4"/>
    {#    Stanislav #}
    <meta name="yandex-verification" content="6b137c6729fdd6d7"/>
    <meta name="google-site-verification" content="I7Q0Q7uar8awEclHtWGrSF2yDY0z6yeG9A8fiGv2roc"/>
    <meta name='wmail-verification' content='23d5e1463baaf9eba62216a76326937f'/>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(52553323, "init", {
            id: 52553323,
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/52553323" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
    {#    Client settings#}
    {#    END#}

    <meta name="description"
          content="Сервис для быстрой записи к стоматологу. Лучшие клиники Перми. Вам перезвонят сразу!"/>

    <!-- Compiled and minified CSS -->

    <script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url" : "https://jino24.ru",
    "logo" : "https://jino24.ru/static/jino/img/logo-white-bg.png",
    "email": "jino.platform@gmail.com",
    "name": "Jino",
    "telephone": "+79523338228"
    }
    </script>

    <link rel="stylesheet" href="{% static 'jino/css/materialize.min.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'jino/img/favicon.png' %}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{% static 'jino/css/style.css' %}">

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="/static/jino/img/favicon.png">
    <title>Jino – сервис для быстрой записи к стоматологу в лучшие клиники Перми</title>

</head>
<body>

<nav>
    <div class="container">

        <div class="row">
            <a href="/" class="brand-logo col s2 l2">
                <img class="nLogo" src="{% static 'jino/img/logo_w.png' %}"/>
            </a>
            <div class="dNav right">
                <a href="#!" class="subLink">Подписка</a>
            </div>
        </div>

    </div>
</nav>

<main>
    <section class="searchBlock">
        <div class="container">

            <div class="row center-align">
                <h2 class="btnDesc col s12 m10 offset-m1">
                    Поздравляю, вы успели
                </h2>
            </div>
            <div class="row center-align">
                <h5>Ваш клиент:</h5>
                <p>
                    Иван Федорович Крузерштерн
                </p>
            </div>
            <div class="row center-align">
                <p class="col s12 m6">
                    <span class="bold">Телефон:</span> <a href="tel:+78005555535">8 800 555 55 35</a>
                </p>
                <p class="col s12 m6">
                    <span class="bold">E-mail:</span> <a href="mailto:mail@mail.ru">mail@mail.ru</a>
                </p>
            </div>
            <div class="row center-align reactionBtnBlock">
                <div class="col s12 m4">
                    <a class="waves-effect waves-light btn-large teal accent-3">Записали</a>
                </div>
                <div class="col s12 m4">
                    <a class="waves-effect waves-light btn-large red accent-4">Не записали</a>
                </div>
                <div class="col s12 m4">
                    <a class="waves-effect waves-light btn-large grey">Неадекват</a>
                </div>
            </div>

        </div>
    </section>
</main>
<footer class="page-footer">
    <div class="container">

        <div class="row valign-wrapper">
            <div class="col s12 l4">
                <ul class="social">
                    <li>
                        <a class="grey-text text-lighten-3" href="https://www.instagram.com/jinoplatform/?hl=ru">
                            <img src="{% static 'jino/img/icon_5.png' %}"/>
                        </a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="https://www.facebook.com/jinoplatform">
                            <img src="{% static 'jino/img/icon_6.png' %}"/>
                        </a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="https://vk.com/jinoplatform">
                            <img src="{% static 'jino/img/icon_7.png' %}"/>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col s12 l2 offset-l6 right-align">
                <div class="row valign-wrapper">
                    <a href="/" class="brand-logo">
                        <img class="nLogo logoBottom" src="{% static 'jino/img/logo_b.png' %}"/>
                    </a>
                </div>
                <!-- <div class="row">
                  <a class="grey-text text-lighten-3" href="#!">Напишите нам</a>
                </div> -->
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <p>
                jino.platform@gmail.com
            </p>
            <p>
                +79523338228
            </p>

            © JINO24.RU 2019

        </div>
    </div>
</footer>
<!-- Compiled and minified JavaScript -->
<script src="{% static 'jino/js/materialize.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="{% static 'jino/js/jquery.maskedinput.min.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems, {
            accordion: true
        });
    });
</script>
<script src="{% static 'jino/js/main.js' %}"></script>

</body>
</html>
