{% load static %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8"  />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body style="font-family: Helvetica">
    <table style="background-color: #f0f0f0; padding: 50px 0;" width="100%" cellspacing="0">
      <tr>
        <td align="center">
          <table style="background-color: #fff; border-radius: 10px;" cellspacing="0">
            <tr>
              <td style="background-color: #52C5FF; padding: 10px;" colspan="2" align="center">
                <a href="http://jino.hopto.org/test"><img src="{% static 'jino/img/logo_w.png' %}" alt="Jino" width="100px" /></a>
              </td>
              <td></td>
            </tr>
            <tr>
              <td style="padding: 20px 20px 0 20px; font-weight: bold;" colspan="2" align="center">
                Петров Василий Иванович
              </td>
              <td></td>
            </tr>
            <tr>
              <td style="padding: 0 20px" colspan="2" align="center">
                нуждается в вашей скорой помощи.
              </td>
              <td></td>
            </tr>

            <tr>
              <td style="padding: 30px">
                Телефон: +79437563027
              </td>
              <td style="padding: 30px">
                E-mail: mail@mail.ru
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

  </body>
</html>
