<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <!--    {#  BEGGIN  #}-->
    <!--    {#    Open grapg begin#}-->
    <title>Запись к стоматологу. Стоматологические клиники - Jino</title>
    <meta name="description"
          content="Сервис, соединяющий стоматологические клиники и пациентов. Запись к стоматологу легче в удобное для вас время с Jino. Джино"/>
    <meta property="og:title" content="Jino"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://jino24.ru"/>
    <meta property="og:site_name" content="Jino"/>
    <meta property="og:image" content="https://jino24.ru/static/jino/img/logo-white-bg.png"/>
    <meta property="og:locale" content="ru_RU"/>
    <meta property="og:description"
          content="Сервис, соединяющий стоматологические клиники и пациентов. Запись к стоматологу легче в удобное для вас время с Jino. Джино"/>
    <!--    {#    Open grapg end#}-->

    <!--&lt;!&ndash; Global site tag (gtag.js) - Google Analytics &ndash;&gt;-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93952064-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-93952064-3');
    </script>

    <!--&lt;!&ndash; Global site tag (gtag.js) - Google Analytics &ndash;&gt;-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93952064-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-93952064-2');
    </script>

    <meta name="yandex-verification" content="ab484731ce9a2f0a"/>
    <!--    {#    Alex Panichev yandex#}-->
    <meta name="yandex-verification" content="8ddcc606db60ccb4"/>
    <!--    {#    Stanislav #}-->
    <meta name="yandex-verification" content="6b137c6729fdd6d7"/>
    <meta name="google-site-verification" content="I7Q0Q7uar8awEclHtWGrSF2yDY0z6yeG9A8fiGv2roc"/>
    <meta name='wmail-verification' content='23d5e1463baaf9eba62216a76326937f'/>

    <!--&lt;!&ndash; Yandex.Metrika counter &ndash;&gt;-->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(52553323, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/52553323" style="position:absolute; left:-9999px;"/></div>
    </noscript>
    <!--&lt;!&ndash; /Yandex.Metrika counter &ndash;&gt;-->

    <script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url" : "https://jino24.ru",
    "logo" : "https://jino24.ru/static/jino/img/logo-white-bg.png",
    "email": "jino.platform@gmail.com",
    "name": "Jino",
    "telephone": "+79523338228"
    }
    </script>
    <!--    {#    END#}-->



    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../../static/jino/css/style.css">
    <link rel="icon" href="../../static/jino/img/favicon.png">

</head>
<body>
<!-- menu for mobile -->
<ul class="sidenav" id="mobile-demo">
    <li><a href="/about" class="sidenavLink">О нас</a></li>
    <li><a href="#faq" class="sidenavLink">FAQ</a></li>
</ul>
<section class="mainSection">
    <header>
        <nav class="pageNavigation N/A transparent z-depth-0 foregroundForCircle">
            <div class="nav-wrapper container row valign-wrapper">
                <a href="" class="brand-logo col left" title="Запись к стоматологу - Jino">
                    <img src="../../static/jino/img/logo-white-bg.png" alt="Jino - джино - логотип"/>
                </a>
                <ul id="nav-mobile" class="col m6 l7 offset-m2 offset-l2 offset-xl3 hide-on-small-only">
                    <li><a href="/about" class="temp-text-dark-blue pageNavigation-text">О нас</a></li>
                    <li><a href="#faq" class="temp-text-dark-blue pageNavigation-text">FAQ</a></li>
                </ul>
                <div class="cityChooser col s5 m4 l3 xl2 offset-s3 valign-wrapper">
                    <!-- Dropdown Trigger -->
                    <a class='temp-inline-dropdown dropdown-trigger btn N/A transparent temp-text-dark-blue pageNavigation-text z-depth-0'
                       data-target='dropdown1'>Пермь<i
                            class="temp-inline-icon material-icons">arrow_drop_down</i></a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown1' class='dropdown-content'>
                        <li><a >Пермь</a></li>
                        <li><a >Екатеринбург</a></li>
                    </ul>
                </div>
                <a href="#" data-target="mobile-demo"
                   class="sidenav-trigger temp-text-dark-blue col s1 offset-s2 hide-on-med-and-up"><i
                        class="material-icons">menu</i></a>
            </div>
        </nav>
    </header>
    <div class="circle circle-1"></div>
    <img class="decore decore-1" src="../../static/jino/img/decor-icon-1.png" alt="Одна волна"/>
    <div class="container">
        <div class="socialBlock foregroundForCircle hide-on-small-only">
            <div class="socialLine"></div>
            <a href="https://www.facebook.com/jinoplatform" class="socialItem" target="_blank">
                <img class="socialItemIcon" src="../../static/jino/img/social-icon-1.png" alt="facebook"/>
                <span class="socialItemText temp-text-dark-blue">Facebook</span>
            </a>
            <a href="https://www.instagram.com/jinoplatform/?hl=ru" class="socialItem" target="_blank">
                <img class="socialItemIcon" src="../../static/jino/img/social-icon-2.png" alt="instagram"/>
                <span class="socialItemText temp-text-dark-blue">Instagram</span>
            </a>
            <a href="https://vk.com/jinoplatform" class="socialItem" target="_blank">
                <img class="socialItemIcon" src="../../static/jino/img/social-icon-3.png" alt="вконтакте"/>
                <span class="socialItemText temp-text-dark-blue">Vkontakte</span>
            </a>
        </div>
        <div class="row">
            <div class="headers foregroundForCircle col s12 m9 l7 s6">
                <h1 class="temp-text-dark-blue">Экстренная помощь стоматолога</h1>
                <h2>Jino – это бесплатный сервис для быстрой записи к стоматологу</h2>
            </div>
        </div>
        <div class="row">
            <div class="callBtn foregroundForCircle" onclick="ym(52553323, 'reachGoal', 'vyzov_click'); return true;">
                <span class="callBtnText temp-text-dark-blue center-align col s12">Вызов</span>
            </div>
        </div>
        <div class="circle circle-2"></div>
    </div>

</section>
<section class="howWorkSection" id="howWork">
    <div class="container">
        <h3><span class="sectionHeaderBg">
            <span class="sectionHeader temp-text-dark-blue">Как работает платформа?</span>
          </span></h3>
        <div class="instructionBlock">
            <div class="circle circle-3"></div>
            <div class="row">
                <div class="instructionItem col s12 l5 xl4 offset-l1">
                    <img src="../../static/jino/img/instruction-punct-1.png" alt="Нажмите на кнопку вызов"/>
                    <!-- <img src="img/instruction-numb-1.png" />
                    <p class="instructionItemText firstPoint temp-text-dark-blue">
                      Нажмите на кнопку "Вызов"
                    </p> -->
                </div>
            </div>
            <div class="row">
                <img class="decore decore-2" src="../../static/jino/img/decor-icon-2.png" alt=""/>
                <div class="instructionItem right col s12 m12 l6 xl5 secondPoint right-align">
                    <img class="foregroundForCircle" src="../../static/jino/img/instruction-punct-2.png" alt="Заполните данные и отправьте заявку"/>
                    <!-- <img class="foregroundForCircle rightNumb" src="img/instruction-numb-2.png" />
                    <p class="instructionItemText secondPoint temp-text-dark-blue foregroundForCircle">
                      Заполните данные <br /> и отправьте заявку
                    </p> -->
                </div>
            </div>
            <div class="row">
                <div class="instructionItem col s12 l6 xl5 offset-l1">
                    <img class="foregroundForCircle" src="../../static/jino/img/instruction-punct-3.png" alt="Система подберет стоматологию"/>
                    <!-- <img src="img/instruction-numb-3.png" />
                    <p class="instructionItemText thirdPoint temp-text-dark-blue ">
                      Система подберет стоматологию
                    </p> -->
                </div>
                <img class="decore decore-3 foregroundForCircle" src="../../static/jino/img/decor-icon-3.png" alt="Треугольники"/>
            </div>
            <div class="row">
                <div class="instructionItem right col s12 m12 l8 xl6 right-align">
                    <img class="foregroundForCircle" src="../../static/jino/img/instruction-punct-4.png" alt="Ответьте на звонок запишитесь на прием"/>
                    <!-- <img class="foregroundForCircle rightNumb" src="img/instruction-numb-4.png" />
                    <p class="instructionItemText fourPoint temp-text-dark-blue foregroundForCircle right-align">
                      Ответьте на звонок записишитесь на прием
                    </p> -->

                </div>
            </div>
        </div>
    </div>
</section>
<section class="partnersSection foregroundForCircle" id="partners">
    <div class="container">
        <h3><span class="sectionHeaderBg">
            <span class="sectionHeader temp-text-dark-blue">Наши партнеры</span>
          </span></h3>

<!--        Карусель для больших экранов-->
        <div class="partnersBlock carousel carousel-slider center hide-on-med-and-down">
            <div class="carousel-item row" href="#one!">
                <div class="partrersItem col s12 m6 l3 center-align">
                    <img src="../../static/jino/img/partners-icon-1.png" alt="32 практика"/>
                    <p class="temp-text-dark-blue">
                        <span class="partnersItemText">32 Практика</span>
                    </p>
                </div>
                <div class="partrersItem col s12 m6 l3 center-align">
                    <img src="../../static/jino/img/partners-icon-2.png" alt="Юнит"/>
                    <p class="temp-text-dark-blue">
                        <span class="partnersItemText">Юнит</span>
                    </p>
                </div>
                <div class="partrersItem col s12 m6 l3 center-align">
                    <img src="../../static/jino/img/partners-icon-3.png" alt="Чароит"/>
                    <p class="temp-text-dark-blue">
                        <span class="partnersItemText">Чароит</span>
                    </p>
                </div>
                <div class="partrersItem col s12 m6 l3 center-align">
                    <img src="../../static/jino/img/partners-icon-4.png" alt="Ваш доктор"/>
                    <p class="temp-text-dark-blue">
                        <span class="partnersItemText">Ваш доктор</span>
                    </p>
                </div>
            </div>
            <div class="carousel-item row" href="#two!">
                <div class="partrersItem col s12 m6 l3 center-align">
                    <img src="../../static/jino/img/partners-icon-5.png" alt="Диомид"/>
                    <p class="temp-text-dark-blue">
                        <span class="partnersItemText">Диомид</span>
                    </p>
                </div>
                <div class="partrersItem col s12 m6 l3 center-align">
                    <img src="../../static/jino/img/partners-icon-6.png" alt="Guten Tag"/>
                    <p class="temp-text-dark-blue">
                        <span class="partnersItemText">Guten Tag</span>
                    </p>
                </div>
                <div class="partrersItem col s12 m6 l3 center-align">
                    <img src="../../static/jino/img/partners-icon-7.png" alt="Костамед"/>
                    <p class="temp-text-dark-blue">
                        <span class="partnersItemText">Костамед</span>
                    </p>
                </div>
                <div class="partrersItem col s12 m6 l3 center-align">
                    <img src="../../static/jino/img/partners-icon-8.png" alt="Deniti"/>
                    <p class="temp-text-dark-blue">
                        <span class="partnersItemText">Deniti</span>
                    </p>
                </div>
            </div>
        </div>

<!--        Карусель для средних экранов(medium)-->
        <div class="partnersBlock carousel carousel-slider center show-on-medium hide-on-small-only hide-on-large-only">
            <div class="carousel-item row" href="#one!">
                <div class="partrersItem col s12 m6 l3 center-align">
                    <img src="../../static/jino/img/partners-icon-1.png" alt="32 практика"/>
                    <p class="temp-text-dark-blue">
                        <span class="partnersItemText">32 Практика</span>
                    </p>
                </div>
                <div class="partrersItem col s12 m6 l3 center-align">
                    <img src="../../static/jino/img/partners-icon-2.png" alt="Юнит"/>
                    <p class="temp-text-dark-blue">
                        <span class="partnersItemText">Юнит</span>
                    </p>
                </div>
            </div>
            <div class="carousel-item row" href="#two!">
                <div class="partrersItem col s12 m6 l3 center-align">
                    <img src="../../static/jino/img/partners-icon-3.png" alt="Чароит"/>
                    <p class="temp-text-dark-blue">
                        <span class="partnersItemText">Чароит</span>
                    </p>
                </div>
                <div class="partrersItem col s12 m6 l3 center-align">
                    <img src="../../static/jino/img/partners-icon-4.png" alt="Ваш доктор"/>
                    <p class="temp-text-dark-blue">
                        <span class="partnersItemText">Ваш доктор</span>
                    </p>
                </div>
            </div>
            <div class="carousel-item row" href="#three!">
                <div class="partrersItem col s12 m6 l3 center-align">
                    <img src="../../static/jino/img/partners-icon-5.png" alt="Диомид"/>
                    <p class="temp-text-dark-blue">
                        <span class="partnersItemText">Диомид</span>
                    </p>
                </div>
                <div class="partrersItem col s12 m6 l3 center-align">
                    <img src="../../static/jino/img/partners-icon-6.png" alt="Guten Tag"/>
                    <p class="temp-text-dark-blue">
                        <span class="partnersItemText">Guten Tag</span>
                    </p>
                </div>
            </div>
            <div class="carousel-item row" href="#four!">
                <div class="partrersItem col s12 m6 l3 center-align">
                    <img src="../../static/jino/img/partners-icon-7.png" alt="Костамед"/>
                    <p class="temp-text-dark-blue">
                        <span class="partnersItemText">Костамед</span>
                    </p>
                </div>
                <div class="partrersItem col s12 m6 l3 center-align">
                    <img src="../../static/jino/img/partners-icon-8.png" alt="Deniti"/>
                    <p class="temp-text-dark-blue">
                        <span class="partnersItemText">Deniti</span>
                    </p>
                </div>
            </div>
        </div>

<!--        Карусель для маленьких эканов (small)-->
        <div class="partnersBlock carousel carousel-slider center show-on-small hide-on-med-and-up">
            <div class="carousel-item row" href="#one!">
                <div class="partrersItem col s12 m6 l3 center-align">
                    <img src="../../static/jino/img/partners-icon-1.png" alt="32 практика"/>
                    <p class="temp-text-dark-blue">
                        <span class="partnersItemText">32 Практика</span>
                    </p>
                </div>
            </div>
            <div class="carousel-item row" href="#two!">
                <div class="partrersItem col s12 m6 l3 center-align">
                    <img src="../../static/jino/img/partners-icon-2.png" alt="Юнит"/>
                    <p class="temp-text-dark-blue">
                        <span class="partnersItemText">Юнит</span>
                    </p>
                </div>
            </div>
            <div class="carousel-item row" href="#three!">
                <div class="partrersItem col s12 m6 l3 center-align">
                    <img src="../../static/jino/img/partners-icon-3.png" alt="Чароит"/>
                    <p class="temp-text-dark-blue">
                        <span class="partnersItemText">Чароит</span>
                    </p>
                </div>
            </div>
            <div class="carousel-item row" href="#four!">
                <div class="partrersItem col s12 m6 l3 center-align">
                    <img src="../../static/jino/img/partners-icon-4.png" alt="Ваш доктор"/>
                    <p class="temp-text-dark-blue">
                        <span class="partnersItemText">Ваш доктор</span>
                    </p>
                </div>
            </div>
            <div class="carousel-item row" href="#five!">
                <div class="partrersItem col s12 m6 l3 center-align">
                    <img src="../../static/jino/img/partners-icon-5.png" alt="Диомид"/>
                    <p class="temp-text-dark-blue">
                        <span class="partnersItemText">Диомид</span>
                    </p>
                </div>
            </div>
            <div class="carousel-item row" href="#six!">
                <div class="partrersItem col s12 m6 l3 center-align">
                    <img src="../../static/jino/img/partners-icon-6.png" alt="Guten Tag"/>
                    <p class="temp-text-dark-blue">
                        <span class="partnersItemText">Guten Tag</span>
                    </p>
                </div>
            </div>
            <div class="carousel-item row" href="#seven!">
                <div class="partrersItem col s12 m6 l3 center-align">
                    <img src="../../static/jino/img/partners-icon-7.png" alt="Костамед"/>
                    <p class="temp-text-dark-blue">
                        <span class="partnersItemText">Костамед</span>
                    </p>
                </div>
            </div>
            <div class="carousel-item row" href="#eight!">
                <div class="partrersItem col s12 m6 l3 center-align">
                    <img src="../../static/jino/img/partners-icon-8.png" alt="Deniti"/>
                    <p class="temp-text-dark-blue">
                        <span class="partnersItemText">Deniti</span>
                    </p>
                </div>
            </div>
        </div>
<!--        <div class="partnersBlock row">-->
<!--            <div class="partrersItem col s12 m6 l3 center-align">-->
<!--                <img src="../../static/jino/img/partners-icon-1.png" alt="32 практика"/>-->
<!--                <p class="temp-text-dark-blue">-->
<!--                    <span class="partnersItemText">32 Практика</span>-->
<!--                </p>-->
<!--            </div>-->
<!--            <div class="partrersItem col s12 m6 l3 center-align">-->
<!--                <img src="../../static/jino/img/empty_partner.png" alt="Пустой партнер"/>-->
<!--                <p class="temp-text-dark-blue">-->
<!--                    <span class="partnersItemText">Скоро!</span>-->
<!--                </p>-->
<!--            </div>-->
<!--            <div class="partrersItem col s12 m6 l3 center-align">-->
<!--                <img src="../../static/jino/img/empty_partner.png"/>-->
<!--                <p class="temp-text-dark-blue">-->
<!--                    <span class="partnersItemText">Для партнера</span>-->
<!--                </p>-->
<!--            </div>-->
<!--            <div class="partrersItem col s12 m6 l3 center-align">-->
<!--                <img src="../../static/jino/img/empty_partner.png"/>-->
<!--                <p class="temp-text-dark-blue">-->
<!--                    <span class="partnersItemText">Здесь можете быть вы</span>-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->
        <img class="decore decore-4" src="../../static/jino/img/decor-icon-4.png" alt="Треугольники"/>
    </div>
</section>
<section class="faqSection"><a name="faq"></a>
    <div class="circle circle-4"></div>
    <div class="container">
        <h3><span class="sectionHeaderBg">
            <span class="sectionHeader temp-text-dark-blue">Вопросы и ответы</span>
          </span></h3>
        <div class="faqBlock row valign-wrapper">
            <img class="col l3 hide-on-med-and-down" src="../../static/jino/img/faq-icon.png" alt="FAQ - частые вопросы"/>
            <ul class="collapsible foregroundForCircle col s12 z-depth-0">
                <li>
                    <div class="temp-text-dark-blue collapsible-header">
                        <div class="row temp-w-100">
                            <i class="faqArrow temp-inline-icon material-icons col s1">arrow_drop_down</i>
                            <span class="faqQuestion col s10">Как оплатить прием врача?</span>
                        </div>
                    </div>
                    <div class="collapsible-body temp-text-dark-blue"><span>Прием врача вы оплачиваете в стоматологии. На Jino ничего оплачивать не нужно, мы только помогаем найти стоматологические клиники.</span>
                    </div>
                </li>
                <li>
                    <div class="temp-text-dark-blue collapsible-header">
                        <div class="row temp-w-100">
                            <i class="faqArrow temp-inline-icon material-icons col s1">arrow_drop_down</i>
                            <span class="faqQuestion col s10">Записываться через Jino дороже, чем напрямую в стоматологии?</span>
                        </div>
                    </div>
                    <div class="collapsible-body temp-text-dark-blue"><span>Нет. Jino не берет комиссии за свои услуги, поэтому вы записываетесь на прием по ценам стоматологии.</span>
                    </div>
                </li>
                <li>
                    <div class="temp-text-dark-blue collapsible-header">
                        <div class="row temp-w-100">
                            <i class="faqArrow temp-inline-icon material-icons col s1">arrow_drop_down</i>
                            <span class="faqQuestion col s10">Как оставить отзыв о приеме?</span>
                        </div>
                    </div>
                    <div class="collapsible-body temp-text-dark-blue"><span>После приема вы получите сообщение на электронную почту, которую указали при записи. Перейдя по ссылке в письме, вы сможете оставить отзыв о приеме. Если вам не понравился прием, мы передадим эти данные в клинику и примем меры по улучшению качества обслуживания.</span>
                    </div>
                </li>
                <li>
                    <div class="temp-text-dark-blue collapsible-header">
                        <div class="row temp-w-100">
                            <i class="faqArrow temp-inline-icon material-icons col s1">arrow_drop_down</i>
                            <span class="faqQuestion col s10">Как стать партнером Jino?</span>
                        </div>
                    </div>
                    <div class="collapsible-body temp-text-dark-blue"><span>Все вопросы по партнерской программе нашего сайта можно задать Сатюкову Станиславу: <a
                            class="temp-text-dark-blue temp-text-underline" href="mailto:jinoplatform@gmail.com">jinoplatform@gmail.com</a></span>
                    </div>
                </li>
                <!--                Пример старого элемента чтобы можно было вернуться-->
                <!--                <li>-->
                <!--                    <div class="temp-text-dark-blue collapsible-header"><i-->
                <!--                            class="faqArrow temp-inline-icon material-icons">arrow_drop_down</i><span-->
                <!--                            class="faqQuestion">Как стать партнером Jino?</span></div>-->
                <!--                    <div class="collapsible-body temp-text-dark-blue"><span>Все вопросы по партнерской программе нашего сайта можно задать Сатюкову Станиславу: <a-->
                <!--                            class="temp-text-dark-blue temp-text-underline" href="mailto:jinoplatform@gmail.com">jinoplatform@gmail.com</a></span>-->
                <!--                    </div>-->
                <!--                </li>-->
            </ul>
        </div>
    </div>
    <div class="circle circle-5"></div>
    <img class="decore decore-5 foregroundForCircle" src="../../static/jino/img/decor-icon-5.png" alt="Много волн"/>
</section>
<footer class="page-footer foregroundForCircle">
    <div class="container">
        <div class="row">
            <div class="col s6 m3 l3">
                <div class="row">
                    <a href="" class="brand-logo col xl2" title="Стоматологические клиники - Jino">
                        <img src="../../static/jino/img/logo-white-bg.png" alt="Jino - джино - логотип"/>
                    </a>
                </div>
                <ul>
                    <li class="footerNavItem"><a class="footerLink temp-footer-text" href="/about">О нас</a></li>
                    <li class="footerNavItem"><a class="footerLink temp-footer-text" href="/agreement">Пользовательское
                        соглашение</a></li>
                    <li class="footerNavItem"><a class="footerLink temp-footer-text" href="/clinic">Вход для клиник</a>
                    </li>
                </ul>
            </div>
            <div class="col s1 m1 l1 offset-s4 offset-l2 hide-on-med-and-up">
                <ul>
                    <li><a class="" href="//www.facebook.com/jinoplatform" target="_blank"><img
                            src="../../static/jino/img/social-icon-1.png" alt="facebook"/></a>
                    </li>
                    <li><a class="" href="//www.instagram.com/jinoplatform/?hl=ru" target="_blank"><img
                            src="../../static/jino/img/social-icon-2.png" alt="instagram"/></a></li>
                    <li><a class="" href="//vk.com/jinoplatform" target="_blank"><img
                            src="../../static/jino/img/social-icon-3.png" alt="вконтакте"/></a></li>
                </ul>
            </div>
            <div class="col s12 m6 l6">
                <p class="connectToUs temp-footer-text center-align">
                    Пишите нам: <a class="temp-footer-text temp-text-underline" href="mailto:jinoplatform@gmail.com">jinoplatform@gmail.com</a>
                    <br/>
                    Звоните нам: <a class="temp-footer-text" href="tel: +79523338228">8 (952) 333-82-28</a>
                </p>
            </div>
            <div class="col m1 l1 offset-l2 hide-on-small-only">
                <ul>
                    <li><a class="" href="//www.facebook.com/jinoplatform" target="_blank"><img
                            src="../../static/jino/img/social-icon-1.png" alt="facebook"/></a>
                    </li>
                    <li><a class="" href="//www.instagram.com/jinoplatform/?hl=ru" target="_blank"><img
                            src="../../static/jino/img/social-icon-2.png" alt="instagram"/></a></li>
                    <li><a class="" href="//vk.com/jinoplatform" target="_blank"><img
                            src="../../static/jino/img/social-icon-3.png" alt="вконтакте"/></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <p class="copyright center-align">
                © JINO24.RU 2019
            </p>
        </div>
    </div>
</footer>

<div class="popupSection">
    <div class="popupBackground row valign-wrapper">
        <div class="row col l6 xl4">
            <div class="popupFormBlock white-text">
                <h3 class="popupHeader">Заполните форму</h3>
                <p class="popupSubtitle">Остальное сделаем мы</p>
                <div class="closeIcon right">
                    <img src="../../static/jino/img/close-icon.png" alt=""/>
                </div>
                {{ form.non_field_errors }}
                <form method="post" action="/data" onsubmit="ym(52553323, 'reachGoal', 'form_submit'); return true;">
                    {% csrf_token %}
                    {{ form.FIO.errors }}
                    <label class="popupLabel">
                        ФИО*
                        <input type="text" class="popupInput" name="FIO" required/>
                    </label>
                    <div class="row">
                        {{ form.phone.errors }}
                        <label class="popupLabel col s6">
                            Телефон*
                            <input type="tel" class="popupInput" name="phone" id="phoneField" required/>
                        </label>
                        {{ form.email.errors }}
                        <label class="popupLabel col s6">
                            E-mail
                            <input type="email" class="popupInput" name="email"/>
                        </label>
                    </div>
                    <!--                    <p class="popupLabel">Выбрать ближайшую стоматологию</p>-->
                    <!-- Switch -->
                    <div class="switch center-align">
                        <label>
                            Как можно скорее
                            <input type="checkbox">
                            <span class="lever"></span>
                            Ближайшую
                        </label>
                    </div>
                    <div class="nearestField">
                        <label class="popupLabel">
                            Адрес
                            <input id="addrField" type="text" class="popupInput" name="address"/>
                        </label>
                        <p class="popupAddrDesc">
                            Укажите, где вы сейчас находитесь, чтобы мы нашли ближайшую к вам стоматологию
                        </p>
                    </div>
                    <div class="row center-align">
                        <button type="submit" class="popupBtn temp-text-dark-blue">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
        crossorigin="anonymous"></script>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="../../static/jino/js/jquery.maskedinput.min.js"></script>
<script src="../../static/jino/js/main.js"></script>
</body>
</html>
