<!DOCTYPE html>
<html lang="ru">
<head>

    <!--    {#  BEGGIN  -->
    <!--    {#    Open grapg begin-->
    <meta property="og:title" content="Jino"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://jino24.ru"/>
    <meta property="og:site_name" content="Jino"/>
    <meta property="og:image" content="https://jino24.ru/static/jino/img/logo-white-bg.png"/>
    <meta property="og:locale" content="ru_RU"/>
    <meta property="og:description"
          content="Сервис, соединяющий стоматологов и пациентов. Воспользуйтесь Jino24 для того, чтобы записаться на быстро прием в удобное для вас время"/>
    <!--    {#    Open grapg end-->
    <!--&lt;!&ndash; Global site tag (gtag.js) - Google Analytics &ndash;&gt;-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93952064-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-93952064-3');
    </script>

    <!--&lt;!&ndash; Global site tag (gtag.js) - Google Analytics &ndash;&gt;-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93952064-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-93952064-2');
    </script>

    <meta name="yandex-verification" content="ab484731ce9a2f0a"/>
    <!--    {#    Alex Panichev yandex-->
    <meta name="yandex-verification" content="8ddcc606db60ccb4"/>
    <!--    {#    Stanislav -->
    <meta name="yandex-verification" content="6b137c6729fdd6d7"/>
    <meta name="google-site-verification" content="I7Q0Q7uar8awEclHtWGrSF2yDY0z6yeG9A8fiGv2roc"/>
    <meta name='wmail-verification' content='23d5e1463baaf9eba62216a76326937f'/>

    <!--&lt;!&ndash; Yandex.Metrika counter &ndash;&gt;-->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(52553323, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/52553323" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!--&lt;!&ndash; /Yandex.Metrika counter &ndash;&gt;-->

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "url": "https://jino24.ru",
            "logo": "https://jino24.ru/static/jino/img/logo-white-bg.png",
            "email": "jino.platform@gmail.com",
            "name": "Jino",
            "telephone": "+79523338228"
        }
    </script>
    <!--    {#    END-->

    <meta name="description"
          content="Сервис, соединяющий стоматологов и пациентов. Воспользуйтесь Jino24 для того, чтобы записаться на быстро прием в удобное для вас время"/>


    <meta charset="utf-8">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../../static/jino/css/style.css">
    <link rel="icon" href="../../static/jino/img/favicon.png">
    <title>Jino24 - Личный кабинет для клиник</title>

</head>
<body>
<!-- menu for mobile -->
<ul class="sidenav" id="mobile-demo">
    <li><a href="/about" class="sidenavLink">О нас</a></li>
    <li><a href="/#faq" class="sidenavLink">FAQ</a></li>
</ul>

<header>
    <nav class="pageNavigation N/A transparent z-depth-0 foregroundForCircle temp-mb-0">
        <div class="nav-wrapper container row valign-wrapper">
            <a href="/" class="brand-logo col left">
                <img src="../../static/jino/img/logo-white-bg.png"/>
            </a>
            <ul id="nav-mobile" class="col m6 l7 offset-m2 offset-l2 offset-xl3 hide-on-small-only">
                <li><a href="/about" class="temp-text-dark-blue pageNavigation-text">О нас</a></li>
                <li><a href="/#faq" class="temp-text-dark-blue pageNavigation-text">FAQ</a></li>
                {% if user.is_authenticated %}
                <li><a href="/auth/logout" class="temp-text-dark-blue pageNavigation-text">Выйти
                    ({{ user.username }})</a></li>
                {% else %}
                <li><a href="/auth" class="temp-text-dark-blue pageNavigation-text">Войти</a></li>
                {% endif %}
            </ul>
            <div class="cityChooser col s5 m4 l3 xl2 offset-s3 valign-wrapper">
                <!-- Dropdown Trigger -->
                <a class='temp-inline-dropdown dropdown-trigger btn N/A transparent temp-text-dark-blue pageNavigation-text z-depth-0'
                   href='#' data-target='dropdown1'>Пермь<i class="temp-inline-icon material-icons">arrow_drop_down</i></a>

                <!-- Dropdown Structure -->
                <ul id='dropdown1' class='dropdown-content'>
                    <li><a href="#!">Пермь</a></li>
                    <li><a href="#!">Екатеринбург</a></li>
                </ul>
            </div>
            <a href="#" data-target="mobile-demo"
               class="sidenav-trigger temp-text-dark-blue col s1 offset-s2 hide-on-med-and-up"><i
                    class="material-icons">menu</i></a>
        </div>
    </nav>
</header>
{% csrf_token %}


<section class="patientsList">
    <div class="container">
        {% if user.is_authenticated %}

        <h3 class="poolHeader temp-text-dark-blue">Список нуждающихся в помощи</h3>
        <div id="collection" class="collection">
            <!--                    <a href="#modal1" class="collection-item modal-trigger">-->
            <!--                        <span class="badge"><i class="material-icons temp-icon-green">brightness_1</i></span>Василий-->
            <!--                        Петрович-->
            <!--                    </a>-->
            <!--                    <a href="#modal1" class="collection-item modal-trigger">-->
            <!--                        <span class="badge"><i class="material-icons temp-icon-green">brightness_1</i></span>Иван-->
            <!--                        Васильевич-->
            <!--                    </a>-->
            <!--                    <a href="#modal1" class="collection-item modal-trigger">-->
            <!--                        <span class="badge"><i class="material-icons temp-icon-green">brightness_1</i></span>Лапкин-->
            <!--                    </a>-->
            <!--                    <a href="#modal1" class="collection-item modal-trigger">-->
            <!--                        <span class="badge"><i class="material-icons temp-icon-red">brightness_1</i></span>Еж-->
            <!--                    </a>-->
            <!--                    <a href="#modal1" class="collection-item modal-trigger">-->
            <!--                        <span class="badge"><i class="material-icons temp-icon-red">brightness_1</i></span>Иржан-->
            <!--                    </a>-->
            <!--                    <a href="#modal1" class="collection-item modal-trigger">-->
            <!--                        <span class="badge"><i class="material-icons temp-icon-red">brightness_1</i></span>Вы-->
            <!--                        какашки-->
            <!--                    </a>-->
        </div>
        {% else %}
        <h3 class="poolHeader temp-text-dark-blue">Вам нужно войти в свою учетную запись</h3>
        {% endif %}
    </div>
</section>

<div id="modal1" class="modal">
    <div class="modal-content">
        <h4 id="patientName"></h4>
        <p><b>Телефон:</b> <a id="patientPhone"></a></p>
        <p><b>E-mail:</b> <a id="patientEmail"></a></p>
    </div>
    <div class="modal-footer">
        <form>
            <input type="hidden" id="patientModalId" name="patientId1" value="">
            <a type="submit" class="modal-write waves-effect waves-light btn teal accent-3">Записали</a>
            <a type="submit" class="modal-not-write waves-effect waves-light btn red accent-4">Не записали</a>
            <a type="submit" class="modal-bad waves-effect waves-light btn grey">Неадекват</a>
        </form>
    </div>
</div>

<footer class="page-footer foregroundForCircle">
    <div class="container">
        <div class="row">
            <div class="col s6 m3 l3">
                <div class="row">
                    <a href="/" class="brand-logo col xl2">
                        <img src="../../static/jino/img/logo-white-bg.png"/>
                    </a>
                </div>
                <ul>
                    <li class="footerNavItem"><a class="footerLink temp-footer-text" href="/about">О нас</a></li>
                    <li class="footerNavItem"><a class="footerLink temp-footer-text" href="/agreement">Пользовательское
                        соглашение</a></li>
                    <li class="footerNavItem"><a class="footerLink temp-footer-text" href="/clinic">Вход для клиник</a>
                    </li>
                </ul>
            </div>
            <div class="col s1 m1 l1 offset-s4 offset-l2 hide-on-med-and-up">
                <ul>
                    <li><a class="" href="https://www.facebook.com/jinoplatform" target="_blank"><img
                            src="../../static/jino/img/social-icon-1.png"/></a>
                    </li>
                    <li><a class="" href="https://www.instagram.com/jinoplatform/?hl=ru" target="_blank"><img
                            src="../../static/jino/img/social-icon-2.png"/></a></li>
                    <li><a class="" href="https://vk.com/jinoplatform" target="_blank"><img
                            src="../../static/jino/img/social-icon-3.png"/></a></li>
                </ul>
            </div>
            <div class="col s12 m6 l6">
                <p class="connectToUs temp-footer-text center-align">
                    Пишите нам: <a class="temp-footer-text temp-text-underline" href="mailto:jinoplatform@gmail.com">jinoplatform@gmail.com</a>
                    <br/>
                    Звоните нам: <a class="temp-footer-text" href="tel: +79523338228">8 (952) 333-82-28</a>
                </p>
            </div>
            <div class="col m1 l1 offset-l2 hide-on-small-only">
                <ul>
                    <li><a class="" href="https://www.facebook.com/jinoplatform" target="_blank"><img
                            src="../../static/jino/img/social-icon-1.png"/></a>
                    </li>
                    <li><a class="" href="https://www.instagram.com/jinoplatform/?hl=ru" target="_blank"><img
                            src="../../static/jino/img/social-icon-2.png"/></a></li>
                    <li><a class="" href="https://vk.com/jinoplatform" target="_blank"><img
                            src="../../static/jino/img/social-icon-3.png"/></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <p class="copyright center-align">
                © JINO24.RU 2019
            </p>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
        crossorigin="anonymous"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="../../static/jino/js/jquery.maskedinput.min.js"></script>
<script type="text/javascript" src="../../static/jino/js/main.js"></script>

<script>
    var JSONobjects;

    var createList = function (responseText) {
        JSONobjects = JSON.parse(responseText);

        for (let i = 0; i < JSONobjects.length; i++) {
            let listElement = document.createElement("a");
            listElement.setAttribute("href", "#modal1");
            listElement.setAttribute("class", "collection-item modal-trigger");
            listElement.setAttribute("id", "patientId-" + JSONobjects[i].pk);
            listElement.innerText = JSONobjects[i].fields.first_name + " " + JSONobjects[i].fields.surname + " " + JSONobjects[i].fields.patronymic;

            let spanElement = document.createElement("span");
            spanElement.setAttribute("class", "badge");

            let iElement = document.createElement("i");
            if (JSONobjects[i].fields.status == "10") {
                iElement.setAttribute("class", "material-icons temp-icon-green");
            } else {
                iElement.setAttribute("class", "material-icons temp-icon-red");
            }
            iElement.innerText = "brightness_1";

            spanElement.appendChild(iElement);
            listElement.appendChild(spanElement);
            collection.appendChild(listElement);
        }
    }

    var xhr = new XMLHttpRequest();
    var URL = "https://jino24.ru/clinic/send";
    xhr.open('GET', URL, false);
    xhr.send();
    if (xhr.status != 200) {
        console.log(xhr.status + ': ' + xhr.statusText);
    } else {
        createList(xhr.responseText);
    }

    const updateMessages = () => {
        xhr.open('GET', URL, false);
        xhr.send();
        if (xhr.status != 200) {
            console.log(xhr.status + ': ' + xhr.statusText);
        } else {
            collection.innerHTML = "";
            createList(xhr.responseText);
        }
    };

    const sendMessage = text => {
        var URL = "https://jino24.ru/homework/request";
        xhr.open('POST', URL, false);
        xhr.setRequestHeader("content-type", "text/xml");
        xhr.send("comment=Hello, World!");
        if (xhr.status != 200) {
            console.log(xhr.status + ': ' + xhr.statusText);
        }
    };

    setInterval(updateMessages, 1000 * 60);


    //Обработка кликов в pool
    $(".collection-item").on("click", function () {
        let itemId = $(this).attr("id");
        let objectId = itemId.substring(10);
        for (let j = 0; j < JSONobjects.length; j++) {
            if (JSONobjects[j].pk == objectId) {
                $("#patientName").text(JSONobjects[j].fields.first_name + " " + JSONobjects[j].fields.surname + " " + JSONobjects[j].fields.patronymic);
                $("#patientPhone").attr("href", "tel:" + JSONobjects[j].fields.phone);
                $("#patientPhone").text(JSONobjects[j].fields.phone);
                $("#patientEmail").attr("href", "mailto:" + JSONobjects[j].fields.email);
                $("#patientEmail").text(JSONobjects[j].fields.email);
                $("#patientModalId").attr("value", JSONobjects[j].pk);
            }
        }
    });

    $(".modal-write").on("click", function (e) {
        e.preventDefault(e);
        let instance = M.Modal.getInstance($(".modal"));

        let scriptURL = "https://jino24.ru/clinic/record";
        sendClinicReaction(scriptURL);

        instance.close();
    });

    $(".modal-not-write").on("click", function (e) {
        e.preventDefault(e);
        let instance = M.Modal.getInstance($(".modal"));

        let scriptURL = "https://jino24.ru/clinic/dontrecord";
        sendClinicReaction(scriptURL);

        instance.close();
    });

    $(".modal-bad").on("click", function (e) {
        e.preventDefault(e);
        let instance = M.Modal.getInstance($(".modal"));

        let scriptURL = "https://jino24.ru/clinic/spam";
        sendClinicReaction(scriptURL);

        instance.close();
    });

    var sendClinicReaction = function (scriptURL) {
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        $.ajax({

            url: scriptURL,
            type: "POST",
            data: {patientId: $("#patientModalId").val()},
            dataType: "text",
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        });

    };
</script>
</body>
</html>
