<!DOCTYPE html>
<html lang="ru">
<head>

    <!--    {#  BEGGIN  #}-->
    <!--    {#    Open grapg begin#}-->
    <meta property="og:title" content="Jino"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://jino24.ru"/>
    <meta property="og:site_name" content="Jino"/>
    <meta property="og:image" content="https://jino24.ru/static/jino/img/logo-white-bg.png"/>
    <meta property="og:locale" content="ru_RU"/>
    <meta property="og:description"
          content="Сервис, соединяющий стоматологов и пациентов. Воспользуйтесь Jino24 для того, чтобы записаться на быстро прием в удобное для вас время"/>
    <!--    {#    Open grapg end#}-->
    <!--&lt;!&ndash; Global site tag (gtag.js) - Google Analytics &ndash;&gt;-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93952064-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-93952064-3');
    </script>

    <!--&lt;!&ndash; Global site tag (gtag.js) - Google Analytics &ndash;&gt;-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93952064-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-93952064-2');
    </script>

    <meta name="yandex-verification" content="ab484731ce9a2f0a"/>
    <!--    {#    Alex Panichev yandex#}-->
    <meta name="yandex-verification" content="8ddcc606db60ccb4"/>
    <!--    {#    Stanislav #}-->
    <meta name="yandex-verification" content="6b137c6729fdd6d7"/>
    <meta name="google-site-verification" content="I7Q0Q7uar8awEclHtWGrSF2yDY0z6yeG9A8fiGv2roc"/>
    <meta name='wmail-verification' content='23d5e1463baaf9eba62216a76326937f'/>

    <!--&lt;!&ndash; Yandex.Metrika counter &ndash;&gt;-->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(52553323, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/52553323" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!--&lt;!&ndash; /Yandex.Metrika counter &ndash;&gt;-->

    <script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url" : "https://jino24.ru",
    "logo" : "https://jino24.ru/static/jino/img/logo-white-bg.png",
    "email": "jino.platform@gmail.com",
    "name": "Jino",
    "telephone": "+79523338228"
    }
    </script>
    <!--    {#    END#}-->

    <meta name="description"
          content="Сервис, соединяющий стоматологов и пациентов. Воспользуйтесь Jino24 для того, чтобы записаться на быстро прием в удобное для вас время"/>


    <meta charset="utf-8">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../../static/jino/css/style.css">
    <link rel="icon" href="../../static/jino/img/favicon.png">
    <title>Jino24 - личный кабинет для клиник</title>

</head>
<body>

<header>
    <nav class="pageNavigation N/A transparent z-depth-0 foregroundForCircle">
        <div class="nav-wrapper container row valign-wrapper">
            <a href="#" class="brand-logo col left">
                <img src="../../static/jino/img/logo-white-bg.png"/>
            </a>
            <ul id="nav-mobile" class="col m6 l7 offset-m2 offset-l2 offset-xl3 hide-on-small-only">
                <li><a href="#" class="temp-text-dark-blue pageNavigation-text">О нас</a></li>
                {% if user.is_authenticated %}
                    <li><a href="/auth/logout" class="temp-text-dark-blue pageNavigation-text">Выйти
                        ({{ user.username }})</a></li>
                {% else %}
                    <li><a href="/auth" class="temp-text-dark-blue pageNavigation-text">Войти</a></li>
                {% endif %}
                <li><a href="#faq" class="temp-text-dark-blue pageNavigation-text"></a></li>
            </ul>
            <div class="cityChooser col s5 m4 l3 xl2 offset-s3 valign-wrapper">
                <!-- Dropdown Trigger -->
                <a class='temp-inline-dropdown dropdown-trigger btn N/A transparent temp-text-dark-blue pageNavigation-text z-depth-0'
                   href='#' data-target='dropdown1'>Пермь<i
                        class="temp-inline-icon material-icons">arrow_drop_down</i></a>

                <!-- Dropdown Structure -->
                <ul id='dropdown1' class='dropdown-content'>
                    <li><a href="#!">Пермь</a></li>
                    <li><a href="#!">Екатеринбург</a></li>
                </ul>
            </div>
            <a href="#" data-target="mobile-demo"
               class="sidenav-trigger temp-text-dark-blue col s1 offset-s2 hide-on-med-and-up"><i
                    class="material-icons">menu</i></a>
        </div>
    </nav>
</header>
{% csrf_token %}


<section class="patientsList">
    {% if user.is_authenticated %}
        <div class="container">
            <h3 class="sectionHeader temp-text-dark-blue">Список нуждающихся в помощи</h3>
            <div class="collection">

                <a href="#modal1" class="collection-item modal-trigger">
                    <span class="badge"><i class="material-icons temp-icon-green">brightness_1</i></span>Василий
                    Петрович
                </a>
                <a href="#modal1" class="collection-item modal-trigger">
                    <span class="badge"><i class="material-icons temp-icon-green">brightness_1</i></span>Иван
                    Васильевич
                </a>
                <a href="#modal1" class="collection-item modal-trigger">
                    <span class="badge"><i class="material-icons temp-icon-green">brightness_1</i></span>Лапкин
                </a>
                <a href="#modal1" class="collection-item modal-trigger">
                    <span class="badge"><i class="material-icons temp-icon-red">brightness_1</i></span>Еж
                </a>
                <a href="#modal1" class="collection-item modal-trigger">
                    <span class="badge"><i class="material-icons temp-icon-red">brightness_1</i></span>Иржан
                </a>
                <a href="#modal1" class="collection-item modal-trigger">
                    <span class="badge"><i class="material-icons temp-icon-red">brightness_1</i></span>Вы
                    какашки
                </a>
            </div>
        </div>
    {% else %}
        <h3 class="sectionHeader temp-text-dark-blue">Вам нужно войти в свою учетную запись</h3>
    {% endif %}

</section>

<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>ИМЯ НАЖАТОГО ЧЕЛА</h4>
        <p><b>Телефон:</b> <a href="tel:ТЕЛЕФОН">ЕГО ТЕЛЕФОН</a></p>
        <p><b>E-mail:</b> <a href="mailto:ПОЧТА">ЕГО ПОЧТА</a></p>
    </div>
    <div class="modal-footer">
        <a class="waves-effect waves-light btn teal accent-3">Записали</a>
        <a class="waves-effect waves-light btn red accent-4">Не записали</a>
        <a class="waves-effect waves-light btn grey">Неадекват</a>
    </div>
</div>

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l3 s12">
                <div class="row">
                    <a href="#" class="brand-logo col xl2">
                        <img src="../../static/jino/img/logo-white-bg.png"/>
                    </a>
                </div>
                <ul>
                    <li><a class="footerLink temp-footer-text" href="#!">О нас</a></li>
                    <li><a class="footerLink temp-footer-text" href="#!">Пользовательское соглашение</a></li>
                </ul>
            </div>
            <div class="col l8">
                <p class="connectToUs temp-footer-text center-align">
                    Пишите нам: jinoplatform@gmail.com
                    <br/>
                    Звоните нам: 8 (952) 333-82-28
                </p>
                <p class="copyright center-align">
                    © JINO24.RU 2019
                </p>
            </div>
            <div class="col l1 s12">
                <ul>
                    <li><a class="" href="#!"><img src="../../static/jino/img/social-icon-1.png"/></a></li>
                    <li><a class="" href="#!"><img src="../../static/jino/img/social-icon-2.png"/></a></li>
                    <li><a class="" href="#!"><img src="../../static/jino/img/social-icon-3.png"/></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
        crossorigin="anonymous"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" src="../../static/jino/js/main.js"></script>
</body>
</html>
