<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8"/>
	<title>Запись к стоматологу. Стоматологические клиники - Jino</title>
	<meta name="description"
				content="Сервис, соединяющий стоматологические клиники и пациентов. Запись к стоматологу легче в удобное для вас время с Jino. Джино"/>
	<meta property="og:title" content="Jino"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="https://jino24.ru"/>
	<meta property="og:site_name" content="Jino"/>
	<meta property="og:image" content="https://jino24.ru/static/jino/img/logo-white-bg.png"/>
	<meta property="og:locale" content="ru_RU"/>
	<meta property="og:description"
				content="Сервис, соединяющий стоматологические клиники и пациентов. Запись к стоматологу легче в удобное для вас время с Jino. Джино"/>

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
	<link rel="stylesheet" href="../../static/jino/css/style.css">
	<link rel="icon" href="../../static/jino/img/favicon.png">
</head>
<body>

<section class="quizSection">
	<iframe name="iframe1" id="iframe1" scrolling="no" class="quizField" src="https://yandex.ru/poll/2xSpwg4bQnsLpzDZJyJTzq"></iframe>
</section>

<footer class="page-footer" id="footer">
	<div class="container">
		<div class="row">
			<div class="col s6 m3 l3">
				<div class="row">
					<a href="/" class="brand-logo col xl2">
						<img class="footer-brand-logo" src="../../static/jino/img/logo-white-bg.png" alt="Jino - джино - логотип"/>
					</a>
				</div>
			</div>
			<div class="col s6 m9 l9">
				<ul class="footer-social-list row">
					<li class="footer-social-item col s3 m4"><a class="" href="//www.facebook.com/jinoplatform" target="_blank"><img src="../../static/jino/img/social-icon-1.png"/></a>
					</li>
					<li class="footer-social-item col s3 m4"><a class="" href="//www.instagram.com/jinoplatform/?hl=ru" target="_blank"><img
									src="../../static/jino/img/social-icon-2.png"/></a></li>
					<li class="footer-social-item col s3 m4"><a class="" href="//vk.com/jinoplatform" target="_blank"><img src="../../static/jino/img/social-icon-3.png"/></a></li>
				</ul>
			</div>
		</div>
		<div class="row copyright-row">
			<p class="copyright center-align" id="copyright">
				© JINO24.RU 2019
			</p>
		</div>
	</div>
</footer>
	<script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
					crossorigin="anonymous"></script>

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="../../static/jino/js/jquery.maskedinput.min.js"></script>
	<script src="../../static/jino/js/main.js"></script>

<script>
    // var cssLink = document.createElement("link");
    // cssLink.href = "../../static/jino/css/style.css";
    // cssLink.rel = "stylesheet";
    // cssLink.type = "text/css";
    // frames['iframe1'].document.head.appendChild(cssLink);

    // var $head = $("#iframe1").contents().find("head");
		//
    // $head.append($("<link/>", {
    //     rel: "stylesheet",
    //     href: "../../static/jino/css/style.css",
    //     type: "text/css"
    // }));

	// var div = document.getElementsByClassName("pages");
	// console.log(div);
	// div.style.backgroundColor = "white";
	// div.setAttribute("style", "background:white;");
    $("#document.pages").css("background", "white");
	// setTimeout(console.log($(".pages").css("background")), 5000);
	// 	var iFrame = document.getElementById("iframe1");
	// 	var pages = iFrame.getElementsByClassName('pages');
	// 	pages.style.backgroundColor = 'white';


    // var head = $("#iframe1").contents().find("head");
    // var css = '<style type="text/css">' +
    //     '.pages: {background: white}; ' +
    //     '</style>';
    // $(head).append(css);
</script>
</body>
</html>